<% orders.forEach(order => { %>
<div class="order">
    <h3>Order For <%= order.userId.name %>
    </h3>
    <h4>Total Amount $ <%= order.total %> 
    </h4>
    <% order.cakepops.forEach( cakepop =>{%>
        <div class="cakepop">
            <p>
                <%= cakepop.name %> $ <%= cakepop.price %>
            </p>
            <p>
                <%= cakepop.description %>
            </p>
        </div>
    
    
    <% }) %>

    <div class="actions">
        <div>
            <form action="/cakepop/<%= order._id %>?_method=PUT" method="POST">
               
                <input type="submit" value="Edit"/>
            </form>
        </div>
        <form action="/cakepop/<%= order._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
           </form>
    </div>

</div>  


<% }) %>