<% orders.forEach(order => { %>
<div class="order">
    <h3>Order For <%= order.userId.name %>
    </h3>
    <h4>Total Amount $ <%= order.total %> 
    </h4>
    <% order.cakepops.forEach( cakepop =>{%>
        <div class="cakepop">
            <p>
                <%= cakepop.name %> $ <%= cakepop.price %>
            </p>
            <p>
                <%= cakepop.description %>
            </p>
        </div>
    
    
    <% }) %>

    <div class="actions">
        <button class="editBtn">Edit</button>
        <button class="deleteBtn">Delete</button>
    </div>

</div>  


<% }) %>