<% cakepops.forEach( cakepop => { %>
<h2>
    <%= cakepop.name %>
</h2>
 <p>
    <%= cakepop.description %>
 </p>
 <p>
    <%= cakepop.price  %>
 </p>
 <img src="<%= cakepop.image %>" alt="<%= cakepop.name %>">
 <button id="<%= cakepop._id %>" class="addToCartBtn">Add To Cart</button>
<% }) %>

<div>
    <button id="submit">Submit Order</button>
</div>